<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true"></startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <connectionStrings>
    <!-- Example connection to a SQL Server Database on localhost. -->
    <!-- <add name="ExampleConnectionString"
            connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
            providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <appSettings>
    <add key="connectorserver.port" value="8759" />
    <add key="connectorserver.usessl" value="false" />
    <add key="connectorserver.certificatestorename" value="ConnectorServerSSLCertificate" />
    <add key="connectorserver.ifaddress" value="0.0.0.0" />
    <add key="connectorserver.key" value="lmA6bMfENJGlIDbfrVtklXFK32s=" />
  </appSettings>
</configuration>
